<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- título -->
    <title>Contacto</title>
    <!-- link con css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <!-- inicio nav -->
    <header>
        <nav>
            <img src="../assets/logo-sencillo-blanco.png" alt="LOGOATELIER">
            <h1 id="inicio-regresar"> Aterlier Arandas </h1>
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="galeria.html">Galería</a>
                </li>
                <li>
                    <a href="nosotros.html">Nosotros</a>
                </li>
                <li>
                    <a href="proyectos.html">Proyectos</a>
                </li>
                <li>
                    <a href="#inicio-regresar">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- inicia main -->
    <main>




    </main>



    <!-- incia footer -->
    <footer>
        <div class="footer-contenedor">
            <span>
                Todos los derechos reservados ©Atelier Arandas 2022
            </span>
            <div class="links-rrss">
                <div>
                    <a href="https://www.instagram.com/atelierarandas/" target="_blank">
                        <img src="../assets/logoinstagram.png" alt="Instagram">
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/atelierarandas/" target="_blank">
                        <img src="../assets/logofacebook.png" alt="Facebook">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>